html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(10 10 10);
}

/* FIXED BACKGROUND LAYER */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image:
    linear-gradient(to right, rgba(255,255,255,0.10) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,0.10) 1px, transparent 1px);

  background-size: 44px 44px;
}
